body {
  background-color: black;
  font: white;
  padding-left: 25px;
  padding-right: 25px;
}
#header {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
header {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}
#form {
  justify-content: center;
  padding-bottom: 20px;
  color: white;
  font-weight: bold;
}
.btn-group {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
#allCardsContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
}
#studentsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 20px;
}
#expelledContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 20px;
}
.card-text {
  font-weight: lighter;
}
#dark-mark {
  align-items: stretch;
}
